.ads {
    &__line {
        margin-bottom: 90px;
    }
    &__title {
        text-align: center;
        margin-bottom: 45px;
    }
    &__galery {
        display: flex;
        justify-content: space-between;
        gap: 2%;
        max-width: 100%;
        
    }
    &__img {
        width: 30%;
        > img {
            object-fit: contain;
            width: 100%;
        }
    }
}