.slider {
    appearance: none;
    background: #646464;
    outline: none;
    height: 3px;
    opacity: 0.7;
    transition: opacity .2s;
    width: 400px;

}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    background: #FFCF7A;
    width: 30px; 
    height: 30px; 
    cursor: pointer;
    // box-shadow: -400px 0 0 -400px #FFCF7A;
}
.slider::-moz-range-thumb {
    width: 30px; 
    height: 30px; 
    background: #FFCF7A; 
    cursor: pointer; 
}